---
layout: base.njk
permalink: "index.html"
description: "Interactive AI visualizations, courses, and learning resources by William Theisen at the University of Notre Dame. Explore entropy, KNN, decision trees, neural networks, and more."
---

<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-7 col-sm-12">
        <div>
            <p>I am an assistant teaching professor at the University of Notre Dame.
            I mostly teach courses on artificial intelligence. This landing
            page is intended to serve both as a collection of my courses, and a
            list of materials that I myself am learning from. In addition to this
            ever lengthening list, I also maintain a modest library of books related
            to the topic, and encourage students to browse the library and come
            borrow books from me if they're interested.</p>
        </div>
    </div>
    <div class="col-md-5 col-sm-12">
        <img src="static/img/teaser.png" alt="Neural network illustration" style="width: 100%; max-width: 380px; display: block; margin: 0 auto;" />
    </div>
</div>

{% include "visualizations.njk" %}

{% include "courses.njk" %}

{% include "library.njk" %}

{% include "learning.njk" %}
